/*-----------------WHOLE HTML DOCUMENT------------*/

*{
    margin:  10px;
    padding: 0px;
}
html{
    color: #333333;
    font-family: 'Arial' , 'sans-serif' ;
    font-size: 25px;
    font-weight:200;
}



/*----------------------GALLERY STRANICA------------------*/
/*------------HEADER------------------*/

#header-gal{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/slika4.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-repeat: no-repeat;
 	background-attachment: fixed;
    margin-top: 0px;/*novo*/
} 

h1 + p {
    width: auto;
    height: auto;
    letter-spacing: 1px;
    margin-bottom: 20px;
    word-spacing: 3px;  
    text-shadow: 2px 2px gray;
}

h1{
    color: #0f625e;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 300px;  
   margin-top: 200px; 
   text-shadow: 2px 2px #65c7d1;

}

header > p {
    color: white;
    margin-left: 350px;
    margin-top: 50px;
}

nav {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*-----------BUTTONS-------------*/
.btn:link,
.btn:visited {
    margin-top: 200px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2;
    background-color: #636e72;
    color: #fff;
    border: 1px solid #636e72;
    margin-right: 15px;
}

.btn:active,
.btn:hover{
    border: 1px solid #b2bec3;
    background-color: #b2bec3;
}

/*------------LINKOVI---------------*/
a:link,
a:visited {
color: #0f625e;
text-decoration: none;
padding-bottom: 1px;
border-bottom: 1px solid #0f625e;
transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
 color: #0f625e;
 border-bottom: 1px solid transparent;
}
/*---------------------SEKCIJA SA KOLONAMA--------------------*/
.section-gal h3{
    font-size: 25px;
    margin-left: auto; 
    margin-right: auto;
    text-shadow: 1px 1px #65c7d1;/*novo*/
}
.section-gal h2{
    font-size: 25px;
    margin-left: 35%; 
    margin-right: auto;
    text-shadow: 2px 2px #65c7d1;/*novo*/
}
.section-gal {
    clear: both;
    padding: 0px;
    margin: 0px;
    font-size: 20px;/*novo*/
}

.row {
    zoom: 1;
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child { 
    margin-left: 0; 
}

@media only screen and (max-width: 480px) {
    .col { 
        margin: 0;
    }
}
.span-1-of-4 {
    width: 23.8%; /*samo ovo je novo*/
}
/*-------------------ASIDE----------------*/
.aside-gal{
    width: 24%;
    background-color: #1cbbb2;
    float: right;/*novo*/

}

.aside-item{
    font-style: italic;
    font-size: 20px;
    margin-left: 10%;
}
aside dt{
  font-weight: bold;
}
 /*----------------- ALERT DIV-----------------*/
 .alert-gal h2{
    font-size: 25px;
    text-shadow: 2px 2px #65c7d1;
    margin-right: 25%;
    margin-top: 2%;
    background-color: #b2bec3;
    padding: 20px;/*novo*/

}
 /*----------------- TABELA -----------------*//*novo*/

 table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
 }
 th{
    background-color:#b2bec3 ;
 }
 td{
    background-color: #1cbbb2
 }

 /*---------------SLAJDOVI--------------------*//*novo*/
 .open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

 /*---------------FOOTER--------------------*/

footer {
    margin-top: 20vh;
    font-size: 17px;
    text-align: center;
  }

 /*---------------ICONS---------------------*/

 .fa {
 margin-top: -20px;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
